<!doctype html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QR Code Generator</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <!-- Main Container -->
    <div class="container">
<br>
<h1 class="text-center">QR CODE GENERATOR</h1>
 
 <!-- pin Input card -->
<!-- row -->
<div class="row mb-3">
<!-- col.// -->
<aside class="col-sm-12 text-center">
<p>This is a simple QR Code generator for generating QR Codes of passwords</p>
<div class="card">
<br>
<p class="text-success text-center">Please enter your password!</p>
<form action="/generate" method="POST">                                     
<div class="form-group">
<div class="input-group">
<div class="input-group-prepend">
</div>
<input type ="password" id = "myInput" class="form-control" placeholder="type password" name = "password" autocomplete="off"required> <br>
</div>
<br>
<input type="checkbox" onclick="myFunction()"> Show Password
<script>
    function myFunction() {
      var x = document.getElementById("myInput");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    </script>
<!-- input-group.// -->
</div>
</br>
<!-- form-group// -->
<!-- form-group// -->
<div class="form-group">
<button type="submit" class="btn btn-primary btn-block" value="Get QR">Generate</button>
</div>
</form>
                    
</div>
</aside>
</div>
</div>  
</body>
</html>